@model HomeViewModel
@using bookStory.ViewModels.Catalog.Books;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}

@{
    ViewData["Title"] = "Danh sách Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-pageheader">
                <div class="subtext-image"
                     data-scrollreveal="enter bottom over 1.7s after 0.1s">
                    SÁCH
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </header>

<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Danh sách Sách</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.LatestProducts)
            {
                var url = $"/{culture}/{_loc["bookUrl"]}/{item.Id}";

                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none">
                                <h3>@item.Title</h3>
                                <h5 style="text-align: right; margin-right: 1rem">
                                    @item.Author
                                </h5>
                                
                                <p style="height: 20%; margin-top: 10px">
                                    <button type="button" class="btn btn-warning text-white">@Html.ActionLink("Xem Sách", "Detail", new { id = item.Id })</button>
                                </p>
                            </div>
                            <span class="maxproduct">
                                <a href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Title" width="322" height="480"/></a>
                            </span>
                        </div>
                        <div class="product-details">

                            <h1>@Html.ActionLink(@item.Title, "Detail", new { id = item.Id })</h1>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("Pager", Model)
            }
        </div>
</section>