@model BookDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-pageheader">
                <div class="subtext-image"
                     data-scrollreveal="enter bottom over 1.7s after 0.1s">
                    SÁCH
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </header>

<!-- CONTENT =============================-->
<section class="">
    <div class="container-fluid toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Thông tin sách</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>

          @*  <a href="@(Configuration["BaseAddress"])/user-content/10358-h/10358-h.htm">Bấm</a>*@
           
    
    </div>
    <div class="container-fluid ml-1 mr-1">
        <div class="row">
            <div class="col-md-8">
                <iframe width="100%" height="1000px" frameborder="0" src="@Html.DisplayFor(model => model.Book.FileName)"></iframe>
            </div>
            <div class="col-md-4 pr-5">
                <form class="login100-form validate-form" asp-action="Request" enctype="multipart/form-data" method="post">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="form-group">
                        <input type="hidden" asp-for="UserName" class="form-control" value=@User.Identity.Name />
                        <span type="hidden" asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    
                 @*//////////////////////////////////////////////////////////////////////////*@
                 @* <div
                    class="wrap-input100 validate-input m-b-23"
                    data-validate=""
                  >
                    <span asp-for="Title" class="label-input100">Tiêu đề dự án</span>
                    <input
                      type="hidden"
                      asp-for="Title"
                      class="input101"
                      type="text"
                      value="Tôi cần dịch đoạn văn này"
                    />
                    <span asp-validation-for="Title" class="text-danger"></span>
                  </div>*@
                  <input type="hidden" asp-for="Title" value="Tôi cần dịch đoạn văn này" />
                  @*//////////////////////////////////////////////////////////////////////////*@
                  <div
                    class="wrap-input100 validate-input m-b-23"
                  >
                  <span asp-for="Description" class="label-input100">Tôi cần dịch đoạn văn: </span>
                    <input
                    asp-for="Description"
                      class="input101"
                      type="text"
                      placeholder="Mô tả dự án"
                    />
                    <span asp-validation-for="Description" class="text-danger"></span>
                  </div>
                  @*//////////////////////////////////////////////////////////////////////////*@
                 @* <div
                    class="m-b-23"
                  >
                    <span asp-for="IdBook" class="label-input100 mt-2">Tên sách</span>
                    
                    <input
                      type="hidden"  
                      asp-for="IdBook"
                      class="input101"
                      type="text"
                      value ="@Model.Book.Id"
                    />
                    <span asp-validation-for="IdBook" class="text-danger"></span>
                  </div>*@
                  <input type="hidden" asp-for="IdBook" value ="@Model.Book.Id" />
                  @*//////////////////////////////////////////////////////////////////////////*@
                  <div
                    class="m-b-23"
                  >
                    <span asp-for="IdLanguage" class="label-input100">Ngôn ngữ cần dịch</span>
                    <select asp-for="IdLanguage" name="idLanguage" asp-items="@ViewBag.Languages" class="form-control">
                                    <option>--Chọn ngôn ngữ--</option>
                    </select>
                    @*<input
                    asp-for="IdLanguage"
                      class="input101"
                      type="text"
                      placeholder="Ngôn ngữ cần dịch"
                    />*@
                    <span asp-validation-for="IdLanguage" class="text-danger"></span>
                  </div>
                  <div class="row">
                            <div class="col-md-4">
                               
                            </div>
                            <div class="col-md-4">
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button type="submit" class="login100-form-btn">GỬI</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                          
                            </div>
                        </div>
                </form>
            </div>
        </div>
     </div>
     
</section>