@using bookStory.ViewModels.Common;
@model PagedResult<bookStory.ViewModels.Catalog.Paragraps.ParagraphViewModel>

@{
    ViewData["Title"] = "Danh sách Đoạn văn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-pageheader">
                <div class="subtext-image"
                     data-scrollreveal="enter bottom over 1.7s after 0.1s">
                    BẢN DỊCH
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </header>

<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Danh sách bản dịch</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
     <div class="container-fluid">
    <div class=" mb-12">
        <div class="">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Translation">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="idparagraph" onchange="this.form.submit()" asp-items="@ViewBag.Paragraphs" class="form-control">
                                    <option>--Chọn danh mục--</option>
                                </select>
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Paragraph/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div>
                    <h1 class="latestitems mt-5 mb-4">Danh sách bản dịch</h1>
                    @foreach (var item in Model.Items)
                    {
                        //var item = Model.ListParagraphs.Items[i];
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <div class="row border border-success rounded mr-1">
                                    <div class="col-md-8 text-dark pl-0 pt-1">
                                        <div class="container">
                                          @Html.DisplayFor(modelItem => item.Order)
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-dark">
                                        <button type="button"
                                                class="
                            btn btn-outline-primary
                            float-right
                            mt-2
                            mb-2
                            w-100
                          ">

                                            @Html.ActionLink("Tất cả bản dịch", "Translation", "Book", new { id = item.Id }) 
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @if (@item.RatingMax != null)
                                {
                                    <div class="col-md-6">
                                        <div class="border border-success rounded">
                                            <div class="text-dark pl-0 pt-1">
                                                <div class="container">
                                                    <span>@Html.DisplayFor(modelItem => item.RatingMax)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                        </div>
                    }
                </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

    </div>
</section>