@using bookStory.ViewModels.Common;
@model HomeViewModel;
@{
    ViewData["Title"] = "Trang chủ";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/datatables-demo.js"></script>

}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center mb-5"><h1 class="mt-4">Quản trị Web Dịch sách</h1></div>
        <div class="card mb-4">
            <div class="card-header">
                <h3><i class="fas fa-table mr-1"></i>
                Dự án yêu cầu mới</h3>
            </div>
            
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered"
                    width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Ngôn ngữ
                            </th>
                            <th>
                                Sách
                            </th>
                            <th>
                                Người yêu cầu
                            </th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Mô tả
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Thời gian yêu cầu
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListProjects.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameLanguage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TitleBook)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateProject)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
        </div>
         <div class="row">
             <div class="col-xl-10 col-md-8"></div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-primary text-white mb-4 pt-3 pb-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="small text-white stretched-link" style="text-decoration: none;" asp-controller="ProjectHandle" asp-action="Index"><h5>Xử Lý</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h3><i class="fas fa-table mr-1"></i>
                Báo cáo mới</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Người báo cáo
                            </th>
                            <th>
                                IdParagraph
                            </th>
                            <th>
                                Reason
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListReports.Items)
                        {
                            <tr>
                                <td>
                                     @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdParagraph)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
        </div>
          <div class="row">
             <div class="col-xl-10 col-md-8"></div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-danger text-white mb-4 pt-3 pb-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="small text-white stretched-link" style="text-decoration: none;" asp-controller="ReportHandle" asp-action="Index"><h5>Xử Lý</h5></a>
                    </div>
                </div>
            </div>
        </div>
        
       @* <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Báo cáo mới</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-controller="ReportHandle" asp-action="Index">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>*@
</div>